<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listing Trades</title>
</head>
<body>
<a href="/">Home</a><br>
<br>
<% if (file_names === undefined || file_names.length == 0) {%>
    <h>No data</h>
<% } else { %>
    <% for (let i=0; i<file_names.length; i++) { %>
        <a href="/trades/<%= type %>/<%= file_names[i]%>"><%= file_names[i]%></a><br>
        <br>
    <% } %>
<%}%>
</body>
</html>