<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <a href="/">Home</a>
    <p>Time start and end(ms): </p><input id="time_begin" value=0><input id="time_end" value=60000><button onclick="draw()">Graph</button>
    <canvas id="graph"></canvas>
    <script>
        let labels = <%- x_axis -%>;
        let data = {
            labels: labels,
            datasets: [{
                label: "Price",
                data:  <%- y_axis -%>,
                borderColor: 'rgb(215,18,18)',
            }]
        };
        const config = {
            type: 'line',
            data: data,
        };

        let graph = new Chart(
            document.getElementById("graph"),
            config
        );
        function draw() {
            let start_index = 0;
            let end_index = labels.length;
            let start_set = false;
            let end_set = false;
            let start_time = document.getElementById("time_begin").value;
            let end_time = document.getElementById("time_end").value;
            for (let i=0; i<labels.length; i++) {
                if (!start_set && labels[i] >= start_time) {
                    start_index = i;
                    start_set = true;
                }
                if (!end_set && labels[i] >= end_time) {
                    end_index = i;
                    end_set = true;
                }
            }
            graph.config.data.labels = labels.slice(start_index, end_index);
            graph.update();
        }

    </script>
</body>
</html>