<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luna</title>
</head>
<body>
<a href="https://github.com/DBC201/luna_interface">What is this?</a><br>
<br>
<a href="https://www.binance.com/en/terms">The binance api doesn't
    work in the US anymore so some functions on this website are inaccessible. Those things are striked</a><br>
<p>Add yourself to the mailing list to get notified when a new listing arrives</p>
<input id="email"><br>
<button onclick="add_mail()">Add</button><br>
<button onclick="remove_mail()">Remove</button>
<p id="response"></p>
<p>There is a timeout to prevent spam</p><br>
<strike>
<p>Try out our <a href="https://discord.com/api/oauth2/authorize?client_id=859857639255834644&permissions=52224&scope=bot">discord bot!</a></p>
<p>The discord bot sends notifications to the added channels when a coin listed on binance goes up and down by 10% and 50% in the past hour.</p>
<p>Just do bogdanoff: add to the channel you want it to send notifications to, bogdanoff: remove will remove that channel from notification list</p><br>
</strike>
<strike><a href="/trades/binance_live">Binance live logged trades</a><br></strike>
<strike><a href="/trades/binance_historical">Binance historical trades</a><br></strike>
<a href="/trades/gate_historical">Gate.io historical trades</a><br>
<strike><a href="/compressed">Compressed bulk data</a></strike><p>Compressed is crossed over for now because at the time I am editing this,
the bulk data is still being downloaded. Automatic compression has not been added yet.</p>


<script>
    function add_mail() {
        document.getElementById("response").innerText = "adding...";
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/email/add");
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send(JSON.stringify({email: document.getElementById("email").value}));
        xhr.onload = function () {
            document.getElementById("response").innerText = xhr.response;
        }
    }

    function remove_mail() {
        document.getElementById("response").innerText = "removing...";
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/email/remove");
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send(JSON.stringify({email: document.getElementById("email").value}));
        xhr.onload = function () {
            document.getElementById("response").innerText = xhr.response;
        }
    }
</script>
</body>
</html>