<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luna</title>
</head>
<body>
<a href="https://github.com/DBC201/luna_interface">What is this?</a><br>
<p>Add yourself to the mailing list to get notified when a new listing arrives</p>
<input id="email"><br>
<button onclick="add_mail()">Add</button><br>
<button onclick="remove_mail()">Remove</button>
<p id="response"></p>
<p>There is a timeout to prevent spam</p><br>
<p>Try out our <a href="https://discord.com/api/oauth2/authorize?client_id=859857639255834644&permissions=52224&scope=bot">discord bot!</a></p><br>
<p>The discord bot sends notifications to the added channels when a coin listed on binance goes up and down by 10% and 50% in the past hour.</p><br>
<p>Just do bogdanoff: add to the channel you want it to send notifications to, bogdanoff: remove will remove that channel from notification list</p>

<a href="/live">Live logged trades</a>
<a href="/historical">Historical trades</a>

<script>
    function add_mail() {
        document.getElementById("response").innerText = "adding...";
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/email/add");
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send(JSON.stringify({email: document.getElementById("email").value}));
        xhr.onload = function () {
            document.getElementById("response").innerText = xhr.response;
        }
    }

    function remove_mail() {
        document.getElementById("response").innerText = "removing...";
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/email/remove");
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send(JSON.stringify({email: document.getElementById("email").value}));
        xhr.onload = function () {
            document.getElementById("response").innerText = xhr.response;
        }
    }
</script>
</body>
</html>