<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luna</title>
</head>
<body>
<a href="https://github.com/DBC201/luna_interface">What is this?</a><br>
<p>Add yourself to the mailing list to get notified when a new listing arrives</p>
<p>It also notifies of sudden price changes, see <a href="https://github.com/DBC201/Luna/tree/master/luna_scripts/meme">this</a></p>
<input id="email"><br>
<button onclick="add_mail()">Add</button><br>
<button onclick="remove_mail()">Remove</button>
<p id="response"></p>
<p>There is a timeout to prevent spam</p><br>
<% if (files === undefined || files.length == 0) {%>
    <h>No data</h>
<% } else { %>
    <% for (let i=0; i<files.length; i++) { %>
        <a href="/graph/<%= files[i]%>"><%= files[i]%></a><br>
        <br>
    <% } %>
<%}%>
<script>
    function add_mail() {
        document.getElementById("response").innerText = "adding...";
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/email/add");
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send(JSON.stringify({email: document.getElementById("email").value}));
        xhr.onload = function () {
            document.getElementById("response").innerText = xhr.response;
        }
    }

    function remove_mail() {
        document.getElementById("response").innerText = "removing...";
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/email/remove");
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send(JSON.stringify({email: document.getElementById("email").value}));
        xhr.onload = function () {
            document.getElementById("response").innerText = xhr.response;
        }
    }
</script>
</body>
</html>